<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Justin Essert</title>

	<!-- For Angular Routing -->
	<base href="/">

	<!-- CSS Stylesheets -->

	<!-- Bootstrap Core CSS -->
    <link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Roboto" rel="stylesheet">

	<!-- Custom Stylesheets -->
	<link href="assets/css/style.css" rel="stylesheet">

	<!-- JS -->
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script type='text/javascript' src="assets/libs/angular-scroll/angular-scroll.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/nav.js"></script>

	<!-- Controllers -->
	<script src="app/controllers/mainCtrl.js"></script>

	<!-- Services -->

	<!-- main Angular app files -->
	<script src="app/app.routes.js"></script>

	<script src="app/app.js"></script>

</head>
<body id="page-top" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="55" ng-app="myapp" ng-controller="mainController as main" style="margin: 0px">
	<!-- Navigation -->
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav navbar-nav top-nav">
					<li><a href="#page-top" du-smooth-scroll>Justin Essert</a></li>
				</ul>
			</div>
			<div class="navbar-right">
				<ul class="nav navbar-nav page-nav">
					<li class="hidden">
						<a class="page-scroll" href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#tech" du-smooth-scroll>Technologies</a>
					</li>
					<li>
						<a class="page-scroll" href="#work" du-smooth-scroll>Work Experience</a>
					</li>
					<li>
						<a class="page-scroll" href="#ed" du-smooth-scroll>Education</a>
					</li>
					<li>
						<a  class="page-scroll" href="#dev" du-smooth-scroll>Development Experience</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

    <!-- Intro Header -->
    <header class="intro">
		<span class="intro-cover"></span>
        <div class="intro-body container col-md-8 col-md-offset-2">
            <h1 style="font-size: 75px;">Justin Essert</h1>
            <h4 style="font-size: 35px; margin-bottom: 40px">Machine Learning Engineer</h4>
            <a href="#tech" class="btn-circle" du-smooth-scroll>
                <i class="fa fa-angle-double-down"></i>
            </a>
		</div>
    </header>
	<div class="main">
		<div class="content">

			<!-- Technologies Section -->
		    <div id="tech" class="content-section">
				<div class="col-lg-4">
					<h2>TECHNOLOGIES</h2>
				</div>
				<div class="col-lg-8">
					<div class="col-lg-6">
						<h4>EXPERIENCED WITH</h4>
						<ul>
							<li>Neural Networks</li>
							<li>K-Means Averaging</li>
							<li>Object Oriented Design</li>
							<li>Java</li>
							<li>C</li>
							<li>Javascript</li>
							<li>NodeJS / ExpressJS</li>
							<li>AngularJS</li>
							<li>HTML5 / CSS3</li>
							<li>GIT Version Control</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<h4>FAMILIAR WITH</h4>
						<ul>
							<li>Python</li>
							<li>jQuery</li>
							<li>Jade</li>
							<li>MongoDB</li>
							<li>SQL / mySQL</li>
							<li>Relational Database Management System</li>
						</ul>
					</div>
				</div>
		    </div>

			<!-- Work Experience Section -->
			<div id="work" class="content-section">
				<div class="col-lg-4">
					<h2>WORK EXPERIENCE</h2>
				</div>
				<div class="col-lg-8">
					<h4>DIVISION OF INFORMATION TECHNOLOGY - UW MADISON</h4>
					<h5 class="subtitle">Senior Consultant | January 2017 - Present</h5>
					<ul class="item">
						<li>
							Maximizing profitability through collaborative leadership, innovative ideas and a tenacious motivation to succeed.<br>
						</li>
						<li>
							Ensuring the success of day-to-day operations in the store with a proven ability to manage a team of agents in
							effectively assisting dozens of customers simultaneously while providing outstanding customer service.
						</li>
						<li>
							Collaborating with senior management, I proposed, developed and lead a team to implement training initiatives.
						</li>
						<li>
							Managing the Student Leadership Council as the Co-Chair, I direct a strategically focused group of students in providing a
							voice on department-wide initiatives focused on student staff training, satisfaction, and retention.
						</li>
					</ul>

					<h5 class="subtitle">Tech Store & Walk-In Help Desk Consultant | August 2015 - December 2016</h5>
					<ul class="item">
						<li>
							Applied my exceptional product knowledge to guide customers’ decision in purchasing technology.<br>
						</li>
						<li>
							Learned to effectively and clearly communicate, verbally and in writing, with both technical and non-technical people.<br>
						</li>
						<li>
							Efficiently and effectively diagnosed and repaired problems with operating systems, applications and hardware defects.<br>
						</il>
					</ul>

					<div class="spacer"></div>

					<h4>DUNKIN' DONUTS</h4>
					<h5 class="subtitle">
						<table class="subtitle-table">
							<tr><td>Administrative Assistant </td>
								<td>| January 2015 - August 2015</td>
							</tr>
							<tr><td>Shift Manager </td>
								<td>| March 2014 - August 2015</td>
							</tr>
							<tr><td>Crew Member </td>
								<td>| August 2012 - February 2014</td>
							</tr>
					</table>
					</h5>
					<ul class="item">
						<li>
							Developed strong relationships with my customers and my team with outstanding customer service and communication.
						</li>
						<li>
							Managed a team in a fast-paced work environment with the ability to think quickly and successfully handle setbacks.
						</li>
					</ul>
				</div>
		    </div>

			<!-- Education Section -->
			<div id="ed" class="content-section">
				<div class="col-lg-4">
					<h2>EDUCATION</h2>
				</div>
				<div class="col-lg-8">
					<h4>UNIVERSITY OF WISCONSIN MADISON - CLASS OF 2018</h4>
					<h5 class="subtitle">Computer Sciences Major</h5>
					<ul class="item">
						<li>
							Currently studying the theory and applications of computer science with a focus in machine learning.
						</li>
						<li>
							Selecting classes that involve pattern recognition, learning, and optimization.
						</li>
					</ul>

					<h5 class="subtitle">Electrical Engineering Major</h5>
					<ul class="item">
						<li>
							Currently studying electrical engineering with a dual focus in computers / computer engineering and signal processing.
						</li>
						<li>
							The purpose of my focus in computers / computer engineering is to better understand the low-level design of computers and how to apply that knowledge to make more efficient algorithms.
						</li>
						<li>
							The purpose of my focus in signal processing is to better understand the techniques used to interpret signals in order to apply the techniques to machine learning algorithms such as Convolutional Neural Networks.
						</li>
					</ul>

					<h5 class="subtitle">Physics Certificate</h5>
					<ul class="item">
						<li>
							Currently pursuing a physics certificate to understand the nature of Quantum Mechanics and to explore how create efficient algorithms for a quantum computer.
						</li>
					</ul>

					<div class="spacer"></div>

					<h4>Middleton High School - Middleton, WI</h4>
					<h5 class="subtitle">Class of 2014</h5>
					<ul class="item">
						<li>
							Captain of the Middleton Debate Team
						</li>
						<li>
							Captain of the Middleton Forensics Team
						</li>
						<li>
							Member of the Middleton Varsity Mock Trial Team
						</li>
						<li>
							Section Lead in the Middleton Jazz Band
						</li>
					</ul>
				</div>
		    </div>

			<!-- Development Experience Section -->
			<div id="dev" class="content-section">
				<div class="col-lg-4">
					<h2>DEVELOPMENT EXPERIENCE</h2>
				</div>
				<div class="col-lg-8">
					<h4>NEURAL NETWORK RESEARCH</h4>
					<ul class="item">
						<li>
							Regularly examine the current literature on neural networks and contemplate their theory and applications.
						</li>
						<li>
							Attend lectures hosted by UW Madison's <a href="http://silo.ece.wisc.edu/">SILO (Systems, Information, Learning and Optimization) Research Group</a> to learn about the most current research in computation and mathematical sciences.
						</li>
					</ul>

					<div class="spacer"></div>

					<h4>FOOTBALL PREDICTION ALGORITM</h4>
					<h5 class="subtitle">Java & HTML</h5>
					<ul class="item">
						<li>
							Engineered an application that analyzes ESPN data and then predicts the outcome of NFL games using machine learning.
						</li>
						<li>
							The application uses a Back-Propagational Neural Network to determine the trends relating to a teams preformance in the recent weeks.
						</li>
						<li>
							The application generally predicted the winning teams for a given week of NFL football with an accuracy of 67-75%.
						</li>
					</ul>

					<div class="spacer"></div>

					<h4>APPLESAUCE</h4>
					<h5 class="subtitle">SEAN Stack (SQL, ExpressJS, AngularJS, NodeJS)</h5>
					<ul class="item">
						<li>
							Currently developing a website that creates a more efficient method in which UW-Madison's Help Desk can process computer repairs.
						</li>
						<li>
							The web app creates an environment that helps members of the university quickly diagnose their broken machines, provides them an estimate for repair, and significanty decreases their wait-time when bringing in their machine to get help.
						</li>
					</ul>
				</div>
		    </div>
		</div>
	</div>
	<div id="container">
		<div class="footer">
			<div class="col-md-offset-1 col-md-10 row">
				<h4 class="col-md-4">Email: essert@wisc.edu</h4>
				<h4 class="col-md-4">Phone: (608) 516-5803</h4>
				<h4 class="col-md-4">LinkedIn: <a href="http://www.linkedin.com/in/justin-k-essert">Justin K Essert</a></h4>
			</div>
		</div>
	</div>
</body>


</html>
